{% extends "base.html.twig" %}
{% block css %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="{{ asset('front/css/animate.css') }}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{{ asset('front/css/icomoon.css') }}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{{ asset('front/css/bootstrap.css') }}">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="{{ asset('front/css/magnific-popup.css') }}">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="{{ asset('front/css/flexslider.css') }}">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{{ asset('front/css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ asset('front/css/owl.theme.default.min.css') }}">

    <!-- Flaticons  -->
    <link rel="stylesheet" href="{{ asset('front/fonts/flaticon/font/flaticon.css') }}">

    <!-- Theme style  -->
    <link rel="stylesheet" href="{{ asset('front/css/style.css') }}">

    <!-- Modernizr JS -->
    <script src="{{ asset('front/js/modernizr-2.6.2.min.js') }}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{{ asset('front/js/respond.min.js') }}"></script>
    <![endif]-->
{% endblock %}
{% block container %}
    <!--main content start-->
    <section id="main-content">
            <section class="wrapper site-min-height">
            <h3><i class="fa fa-angle-right"></i>Emprunts de livre </h3>
            <div class="row" id="emprunts">
                <div class="col-md-8">
                    {% for e in emprunts %}
                        <div class="col-md-6">
                    <div class="block-21 d-flex animate-box mysize">
                        <a href="#" class="blog-img" data-toggle="modal" data-target="#panel_info_emprunt{{ e.id }}" style="background-image: url({{ asset('upload/uploads/'~e.idlivre.img) }});height: 200px; width: 200px"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#" data-toggle="modal" data-target="#panel_info_livre{{ e.id }}">{{ e.idlivre.titre }} </a></h3>
                            <p class="etat_emprunt{{ e.id }}">Etat :{% if e.etat == 0 %}<span style="color: grey"> <i class="fa fa-spinner"></i>  en attente </span>{% elseif e.etat == 1 %}<span style="color: blue">  <i class="fa fa-thumbs-o-up"></i> confirmé </span>{% elseif e.etat == 2 %} <span style="color: red"><i class="fa fa-warning"></i> refusé</span> {% elseif e.etat == 3 %} <span style="color: green"><i class="fa fa-thumbs-up"></i> rendu</span> {% endif %}</p>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> {{ e.dateemprunt|date('d-m-Y') }}</a></div>
                                <div><a href="#" data-toggle="modal" data-target="#panel_info_user{{ e.id }}"><span class="icon-user2"></span> {{ e.idemprunteur.nom~" "~e.idemprunteur.prenom }}</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                            <div id="panel_info_livre{{ e.id }}" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">détail du livre</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-4 centered">
                                                <img src="{{ asset('upload/uploads/'~e.idlivre.img) }}" width="170" height="270" alt="" />
                                            </div>
                                            <div id="detail" class="">
                                                <p class="text-left">
                                                <h5>Titre : <span class="details">{{ e.idlivre.titre }}</span></h5>
                                                <h5>Auteur : <span>{{ e.idlivre.auteur }}</span></h5>
                                                <h5>Editeur : <span>{{ e.idlivre.editeur }}</span></h5>
                                                <h5>date de sortie : <span>{{ e.idlivre.datesortie|date('d-m-Y') }}</span></h5>
                                                <h5>date d'ajout : <span>{{ e.idlivre.dateajout|date('d-m-Y') }}</span></h5>
                                                <h5>nombre de pages : <span>{{ e.idlivre.taille }}</span></h5>
                                                <h5>nombre d'exemplaires : <span>{{ e.idlivre.quantite }}</span></h5>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button"> fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="panel_info_user{{ e.id }}" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">détail de l'utilisateur</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="col-md-4 centered">
                                                <img src="{{ asset('upload/uploads/'~e.idemprunteur.profile) }}" width="170" height="270" alt="" />
                                            </div>
                                            <div id="detail" class="mt-2">
                                                <h5>Nom d'utilisateur : <span class="details">{{ e.idemprunteur.username }}</span></h5>
                                                <div class="row">
                                                    <div class="col"> <h5>Nom : <span>{{ e.idemprunteur.nom }}</span></h5></div>
                                                    <div class="col"> <h5>Prénom : <span>{{ e.idemprunteur.prenom }}</span></h5></div>
                                                    <div class="col"> <h5>Email : <span>{{ e.idemprunteur.email }}</span></h5></div>
                                                    <div class="col"> <h5>CIN : <span>{{ e.idemprunteur.cin }}</span></h5></div>
                                                    <div class="col"> <h5>Téléphone : <span>{{ e.idemprunteur.numTel }}</span></h5></div>
                                                    <div class="col"> <h5>Adresse : <span>{{ e.idemprunteur.adresse }}</span></h5></div>
                                                    <!--<div class="col"> <h5>Rôle : <ul>{% for role in e.idemprunteur.roles %}<li><span>{{ role }}</span></li>{% endfor %}</ul></h5></div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button"> fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="panel_info_emprunt{{ e.id }}" class="modal fade">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">détail de l'emprunt</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="detail" class="mt-2">
                                                <div class="row">
                                                    <div class="col"> <h5>date d'emprunt : <span>{{ e.dateemprunt|date('d-m-Y') }}</span></h5></div>
                                                    <div class="col"> <h5>date de confirmation : <span>{% if e.dateconfirmation is empty %} RAS {% else %}{{ e.dateconfirmation|date('d-m-Y') }}{% endif %}</span></h5></div>
                                                    <div class="col"> <h5>date de retour : <span>{% if e.daterendu is empty %} RAS {% else %}{{ e.daterendu|date('d-m-Y') }}{% endif %}</span></h5></div>
                                                    <div class="col"> <h5>date de debut : <span>{{ e.datedebut|date('d-m-Y') }}</span></h5></div>
                                                    <div class="col"> <h5>date de fin : <span>{{ e.datefin|date('d-m-Y') }}</span></h5></div>
                                                    <div class="col"><h5 class="etat_emprunt{{ e.id }}">Etat : {% if e.etat == 0 %}<span style="color: grey"> <i class="fa fa-spinner"></i>  en attente </span>{% elseif e.etat == 1 %} <span style="color: blue"><i class="fa fa-thumbs-o-up"></i> confirmé </span>{% elseif e.etat == 2 %} <span style="color: red"><i class="fa fa-warning"></i> refusé</span> {% elseif e.etat == 3 %} <span style="color: green"><i class="fa fa-thumbs-up"></i> rendu</span> {% endif %}</h5></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer" id={{ e.id }}>
                                            {% if e.etat == 0 %}
                                                <button class="btn btn-primary valider" type="submit" id="accepter{{ e.id }}" value="1">accepter</button>
                                                <button class="btn btn-danger valider" type="submit" id="refuser{{ e.id }}" value="2">refuser</button>
                                            {% elseif e.etat == 1 %}
                                                <button class="btn btn-primary valider" type="submit" id="retour{{ e.id }}" value="3">confirmer retour </button>
                                            {% else %}
                                            {% endif %}
                                            <button class="btn btn-secondary" data-dismiss="modal" type="button"> fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- SIDEBAR: start -->
                <div class="col-md-4 animate-box">
                    <div class="sidebar">
                        <div class="side">
                            <h3 class="sidebar-heading">Categories</h3>
                            <div class="block-24">
                                <ul>
                                    <li><a href="{{ path('biblio_emprunt_categorie', {'categorie': '0'}) }}">En attente <span>{{ etats[0][1] }}</span></a></li>
                                    <li><a href="{{ path('biblio_emprunt_categorie', {'categorie': '1'}) }}">confirmé <span>{{ etats[1][1] }}</span></a></li>
                                    <li><a href="{{ path('biblio_emprunt_categorie', {'categorie': '2'}) }}">refusé <span>{{ etats[2][1] }}</span></a></li>
                                    <li><a href="{{ path('biblio_emprunt_categorie', {'categorie': '3'}) }}">rendu <span>{{ etats[3][1] }}</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="side">
                            <h3 class="sidebar-heading">Emprunts récents</h3>
                            {% for r in recents %}
                                <div class="f-blog">
                                    <a href="{{ path('emprunt', {'id':r.id}) }}" class="blog-img" style="background-image: url({{ asset('upload/uploads/'~r.idlivre.img) }});">
                                    </a>
                                    <div class="desc">
                                        <p class="admin"><span> {{ r.dateemprunt|date('d-m-Y') }}</span></p>
                                        <h2><a href="{{ path('emprunt', {'id':r.id}) }}">{{ r.idlivre.titre }}</a></h2>
                                        <p class="etat_emprunt{{ r.id }}">Etat :{% if r.etat == 0 %}
                                            <span style="color: grey"> <i class="fa fa-spinner"></i>  en attente </span>{% elseif r.etat == 1 %}
                                            <span style="color: blue">  <i class="fa fa-thumbs-o-up"></i> confirmé </span>{% elseif r.etat == 2 %}
                                            <span style="color: red"><i class="fa fa-warning"></i> refusé</span> {% elseif r.etat == 3 %}
                                            <span style="color: green"><i class="fa fa-thumbs-up"></i> rendu</span> {% endif %}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="side">
                            <h3 class="sidbar-heading">Tags</h3>
                            <div class="block-26">
                                <ul>
                                    {% for t in tags %}
                                        <li><a href="{{ path('biblio_emprunt_livre', {'categorie': t[1]}) }}">{{ t[1] }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--main content end-->
{% endblock %}
{% block js %}
    {{ parent() }}
    <!-- jQuery -->
    <script src="{{ asset('front/js/jquery.min.js') }}"></script>
    <!-- jQuery Easing -->
    <script src="{{ asset('front/js/jquery.easing.1.3.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('front/js/bootstrap.min.js') }}"></script>
    <!-- Waypoints -->
    <script src="{{ asset('front/js/jquery.waypoints.min.js') }}"></script>
    <!-- Stellar Parallax -->
    <script src="{{ asset('front/js/jquery.stellar.min.js') }}"></script>
    <!-- Flexslider -->
    <script src="{{ asset('front/js/jquery.flexslider-min.js') }}"></script>
    <!-- Owl carousel -->
    <script src="{{ asset('front/js/owl.carousel.min.js') }}"></script>
    <!-- Magnific Popup -->
    <script src="{{ asset('front/js/jquery.magnific-popup.min.js') }}"></script>
    <script src="{{ asset('front/js/magnific-popup-options.js') }}"></script>
    <!-- Counters -->
    <script src="{{ asset('front/js/jquery.countTo.js') }}"></script>
    <!-- Main -->
    <script src="{{ asset('front/js/main.js') }}"></script>

    <script>
        $('.mysize').css('width','500px','height','500px')
    </script>

    <script>
        $('.valider').click(function () {
            var choix_emprunt = this.value;
            var id_emprunt = this.parentElement.id;
            //$('.modal').modal('hide');
            //$(".modal .close").click();
            Swal.fire({
                title: 'veillez confirmer votre choix ',
                text: "Vous ne pouvez plus revenir en arriere!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Oui!'
            }).then((result) => {
                if (result.value) {
                    //url = "{{ path('edit_emprunt', {"id": 'id_emprunt', "choix" : 'choix'}) }}";
                    var url = Routing.generate('edit_emprunt', {id: id_emprunt, choix: choix_emprunt}, true);
                    /*url = url.replace("choix", this.value);
                    url = url.replace("id_emprunt", this.parentElement.id);*/
                    //document.location.href = url;
                    $.ajax({
                        url: url,
                        type: "POST",
                        dataType: "json",
                        data: {
                            "idSelect": this.parentElement.id,
                            "choix":this.id,
                        },
                        async: true,
                        success: function (data) {
                            //$('#emprunts').load(' #emprunts');
                            if(choix_emprunt == 0){
                                $('.etat_emprunt'+id_emprunt).html("Etat : <span style=\"color: grey\"> <i class=\"fa fa-spinner\"></i>  en attente </span>");
                            }
                            if(choix_emprunt == 1){
                                $('.etat_emprunt'+id_emprunt).html("Etat : <span style=\"color: blue\">  <i class=\"fa fa-thumbs-o-up\"></i> confirmé </span>");
                                $('#accepter'+id_emprunt).remove();
                                $('#refuser'+id_emprunt).remove();
                                $('#'+id_emprunt).html("<button class=\"btn btn-primary valider\" type=\"submit\" id=\"retour"+id_emprunt+"\" value=\"3\">confirmer retour </button>" +
                                    "<button class=\"btn btn-secondary\" data-dismiss=\"modal\" type=\"button\"> fermer</button>");
                                Swal.fire(
                                    'confirmé!',
                                    'L\'emprunt a été confirmé.',
                                    'success'
                                );
                            }
                            if(choix_emprunt == 2){
                                $('.etat_emprunt'+id_emprunt).html("Etat : <span style=\"color: red\"><i class=\"fa fa-warning\"></i> refusé</span>");
                                $('#accepter'+id_emprunt).remove();
                                $('#refuser'+id_emprunt).remove();
                                Swal.fire(
                                    'Refus!',
                                    'L\'emprunt a été refusé.',
                                    'success'
                                );
                            }
                            if(choix_emprunt == 3){
                                $('.etat_emprunt'+id_emprunt).html("Etat : <span style=\"color: green\"><i class=\"fa fa-thumbs-up\"></i> rendu</span>");
                                $('#retour'+id_emprunt).remove();
                                Swal.fire(
                                    'Retour!',
                                    'Retour du livre confirmé.',
                                    'success'
                                );
                            }
                        }
                    });
                }
            })
        })
    </script>
{% endblock %}